body, footer, div, header, h1, .container, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
    font-family: cooperBlack;
    src: url(cooperblackitalic.otf);
}

body {
    padding: 10px;
    margin: 5px;
    border: 5px;
    font-family: cooperBlack;
    color: #ededed;
    background-color: #232323;
}

.desktop-nav a, header {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #333;
}

.mobile-nav {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #333;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 50px;
}

.social {
    margin: auto;
    text-align: center;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.desktop-top-bar {
    border-bottom: 30px solid rgba(0, 0, 0, 0);
    padding: 10px;
}

.mobile-top-bar {
    border-bottom: 30px solid rgba(0, 0, 0, 0);;
    padding: 10px;
    position: relative;
    text-align: center;
}

.mobile-top-bar header {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    background-color: #333;
    padding: 10px 10px;
}

/* .box {
    width: 48%;
    margin: 1%;
    float: left;
    border: 5px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
} */

.box {
/*     background-color: #333;
    margin: 1%;
    border: 5px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    width: 48%; */
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #333;
    border: 5px solid #ccc;
    padding: 20px;
}

.box_of_boxes {
    text-align: center;
}

footer {
    padding: 5px;
    background-color: #333;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: beige;
}

.archives {
    padding: 10px;
    margin: 5px;
    border: 5px;
    font-family: cooperBlack;
    color: #ededed;
    background-color: #333;
}

/* Styles for screens from 769px and above (desktop screens) */
@media (min-width: 769px) {
    .desktop-top-bar {
        display: block; /* Show on desktop screens */
    }
    .mobile-top-bar {
        display: none; /* Hide on desktop screens */
    }
    audio {
        max-width: 400px;
    }
    .box {
        text-align: left;
    }
}

/* Styles for screens up to 768px (typical tablets and smartphones in landscape mode) */
@media (max-width: 768px) {
    .desktop-top-bar {
        display: none; /* Hide on mobile screens */
    }
    .mobile-top-bar {
        display: block; /* Show on mobile screens */
        margin-bottom: -20px
    }
    main {
        text-align: center;
    }
    body {
        font-size: 4vw;
        text-align: center;
    }
    .mobile-header {
        font-size: 5vw;
    }
    .mobile-nav {
        font-size: 4.5vw;
    }
    .box {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .archives {
        text-align: center;
    }
    audio {
        max-width: 275px;
    }
}

audio {
    width: 100%;
    border: 10px solid #232323;
    border-radius: 5px;
    background-color: beige;
}

/* Style the audio controls */
audio::-webkit-media-controls-panel {
    background-color: beige;
    border-radius: 5px;
    color: beige;
}
